/* Estilos de la tarjeta de proyecto */
:host {
  display: block;
}

.project-icon-area {
  height: 250px;
}

.project-icon {
  font-size: 3rem;
  color: #27ae60;
}

.card-proyecto {
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-proyecto:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(39, 174, 96, 0.2) !important;
}

.card-proyecto:hover .project-icon {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
